{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'SPTGUI/img/favicon.ico' %}">

    <title>Spot-On: kinetic modeling of SPT data</title>

    <!-- Captcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'SPTGUI/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'SPTGUI/dist/js/jquery.min.js' %}"></script>   
    <script src="{% static 'SPTGUI/dist/js/bootstrap.min.js' %}"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'SPTGUI/assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'SPTGUI/assets/js/ie-emulation-modes-warning.js' %}"></script><![endif]-->
    <script src="{% static 'SPTGUI/assets/js/ie-emulation-modes-warning.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    
    <!-- Angular JS -->
    <script src="{% static 'SPTGUI/dist/js/angular.js' %}"></script>
    <script src="{% static 'SPTGUI/dist/js/angular-cookies.js' %}"></script>
    <script src="{% static 'SPTGUI/dist/js/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>
    
    <!-- Custom styles for this template -->
    <link href="{% static 'SPTGUI/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'SPTGUI/homepage.css' %}" rel="stylesheet">

    <!-- Beta ribbon -->
    {% if beta %}
    <link href="{% static 'SPTGUI/ribbon.css' %}" rel="stylesheet">
    {% endif %}

    <!-- Custom app code & CSS -->
    <script src="{% static 'SPTGUI/homepage.js' %}"></script>    
  </head>
  
  <body ng-app="app">
    {% csrf_token %}
    <!-- Beta ribbon  ================================================== -->
    {% if beta %}
    <div class="corner-ribbon bottom-right sticky red">Beta!</div>
    {% endif %}
    
    <!-- NAVBAR ================================================== -->
    {% include 'SPTGUI/navbar1.html' %}

    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
	  <img src="{% static 'SPTGUI/img/spoton_logo_big.png' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Spot-On analyzes single particle tracking datasets.</h1>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="#start" role="button">Start with my dataset</a></p>
            </div>
          </div>
        </div>
        <div class="item">
	  <img src="{% static 'SPTGUI/img/slide1_big.png' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Interactive kinetic modeling</h1>
              <p>Spot-On comes with a user-friendly interactive interface to perform kinetic modeling of single particle tracking datasets.</p>
              <p><a class="btn btn-lg btn-primary" href="#why" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item"> -->
        <!--   <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide"> -->
        <!--   <div class="container"> -->
        <!--     <div class="carousel-caption"> -->
        <!--       <h1>I have nothing to add (apart from a quote to look smart).</h1> -->
        <!--       <p>Men make their own history, but they do not make it as they please; they do not make it under self-selected circumstances, but under circumstances existing already, given and transmitted from the past. The tradition of all dead generations weighs like a nightmare on the brains of the living. <em>KM</em></p> -->
        <!--       <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
        <!--     </div> -->
        <!--   </div> -->
        <!-- </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- DEBUG MESSAGE -->
      <!-- <div class="row"> -->
      <!-- 	<div class="alert alert-danger">We are currently deploying a new version of Spot-On. You might encounter some disruptions or instabilities while we are proceeding.</div> -->
      <!-- </div> -->

      
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle"
	       src="{% static 'SPTGUI/img/icons/001-upload.png' %}"
	       alt="Import pictogram" width="140" height="140">
          <h2>Import...</h2>
          <p> from a wide range of tracking softwares, including a direct upload from Fiji/TrackMate.</p>
          <p><a class="btn btn-default" href="{% url 'SPTGUI:staticpage' 'docs' %}#input-formats" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle"
	       src="{% static 'SPTGUI/img/icons/002-abacus.png' %}"
	       alt="Analyze pictogram" width="140" height="140">
          <h2>Analyze</h2>
          <p>Fit a kinetic model to the distribution of jump length. Take into account the finite depth of field.</p>
          <p><a class="btn btn-default" href="#how-it-works" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle"
	       src="{% static 'SPTGUI/img/icons/003-rocket.png' %}"
	       alt="Export pictogram" width="140" height="140">
          <h2>...Export!</h2>
          <p>Save your analyses to a variety of formats (plots, tables, editable files). <em>Ready?</em> </p>
          <p><a class="btn btn-default" href="{% url 'SPTGUI:staticpage' 'docs' %}" role="button">Take the tutorial &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id="why">
          <h2 class="featurette-heading">Why Spot-On?<span class="text-muted">&nbsp;(and kinetic modeling)</span></h2>
          <p class="lead"><em>Single particle tracking</em> (SPT) is often seen as less biased and model-dependent than indirect and bulk techniques such as Fluorescence Recovery After Photobleaching (<a href="https://en.wikipedia.org/wiki/Fluorescence_recovery_after_photobleaching">FRAP</a>) or Fluorescence Correlation Spectroscopy (<a href="https://en.wikipedia.org/wiki/Fluorescence_correlation_spectroscopy">FCS</a>).</p>
	  <p class="lead">Nevertheless, SPT data is subject to a number of biases and uncertainties, which must be corrected for in order to obtain accurate estimates of subpopulations. Spot-On offers a set of <a href="{% url 'SPTGUI:staticpage' 'docs' %}#how-to-acquire-a-good-dataset-">guidelines</a> to perform meaningful SPT experiments and provides a comprehensive, <a href="{% url 'SPTGUI:staticpage' 'docs' %}#methods">bias-aware</a>, framework to analyze the resulting data.</p>
	   <p><a class="btn btn-default" href="{% url 'SPTGUI:staticpage' 'docs' %}#tutorial" role="button">Take the tutorial</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'SPTGUI/img/spoton_logo_square.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="how-it-works">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">How does it work? <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Spot-On fits a two-states or a three-states model to the empirical distribution of jump lengths obtained from a single particle tracking dataset. To do so, Spot-On takes into account a finite detection volume and biases against fast-moving particles. From that, Spot-On extracts kinetic parameters: diffusion coefficients, fraction bound.</p>
	  <a class="btn btn-lg btn-default" href="{% url 'SPTGUI:staticpage' 'docs' %}#methods" role="button">Learn more!</a>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'SPTGUI/img/principle.png' %}" alt="Principle of Spot-On: fit ">
        </div>
      </div>

      <hr class="featurette-divider">
      
      
      <div class="row featurette">
        <div class="col-md-7" id="start">
          <h2 class="featurette-heading">Get started<span class="text-muted"> (in a nutshell)</span></h2>
          <p class="lead">To use Spot-On is straightforward, and Spot-On is <a href="{% url 'SPTGUI:staticpage' 'docs' %}">fully documented</a>. We have a <a href="{% url 'SPTGUI:staticpage' 'docs' %}">step-by-step tutorial</a> that details how to use Spot-On from scratch. In particular, the tutorial will guide you through:</p>
	  <ol>
	    <li>Uploading trajectories from a wide range of <a href="{% url 'SPTGUI:staticpage' 'docs' %}#input-formats">formats</a></li>
	    <li>Perform a thorough quality-check of uploaded datasets</li>
	    <li>Fit a kinetic model on the distribution of displacements</li>
	    <li>The export of the fitted coefficients, raw data and high quality graphics</li>
	  </ol>
	  <form {% if captcha %}
		onsubmit="return validateCAPTCHA();"
		{% endif %}
		method="POST"
	 	action="{% url 'SPTGUI:new_analysis' %}">
	    {% csrf_token %}
	    {% if captcha %}
	    <div class="g-recaptcha" id="main-recaptcha" data-sitekey="{{recaptchakey}}"></div>
	    <div id="recaptcha-response"></div>
	    {% endif %}
	    <p>
	      <input formaction="{% url 'SPTGUI:new_analysis' %}"
		     type="submit" class="btn btn-primary"
		     value="Start with my dataset">
	      {% if demoavailable %}
	      or <input formaction="{% url 'SPTGUI:new_demo' %}"
			type="submit" class="btn btn-link"
			value="start with a demo file">.
	      {% endif %}
	    </p>
	  </form>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'SPTGUI/img/process.png' %}" alt="Spot-On workflow">
        </div>
      </div>

      <!-- Please cite block -->
      <hr class="featurette-divider">
      <div class="row featurette">
      	  <p class="lead">Please acknowledge Spot-On in your publications:</p>
	  <blockquote>
	    <p>Robust model-based analysis of single-particle tracking experiments with Spot-On.</p>
	    <p>Hansen, A.S.*, Woringer, M.*, Grimm, J.B., Lavis, L.D., Tjian, R., and Darzacq, X.</p>
	    <footer>eLife 7, e33125. doi:<a href="https://doi.org/10.7554/eLife.33125">10.7554/eLife.33125</a>.<br/>
	      *These authors contributed equally and are alphabetically listed.
	    </footer>
	  </blockquote>
      </div>
      
      {% if mailavailable %}
      <hr class="featurette-divider">
      <div class="row featurette" ng-controller="EmailController">
	{% verbatim %}
        <h2 class="featurette-heading">Stay tuned. <span class="text-muted">Subscribe to our newsletter.</span></h2>
        <p class="lead">We will keep you posted about future updates of the software. Your email address will not be shared with any third-party.</p>
	<div class="thumbnail center well well-small text-center">
          <form ng-submit="subscribe(email)">
            <div class="input-prepend"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
	      <input type="email" ng-model="email" placeholder="your@email.org" required>
	      <input type="submit" value="Subscribe Now!" class="btn btn-large btn-primary" />
            </div>
          </form>
	  <br/>
	  <div class="alert alert-danger" ng-show="message_error!==null">
	    {{message_error}}
	  </div>
	  <div class="alert alert-success" ng-show="message_success!==null">
	    {{message_success}}
	  </div>
	</div>
	{% endverbatim %}
      </div>
      {% endif %}
    </div>
    

      <!-- /END THE FEATURETTES -->

      <!-- /FOOTER -->
      {% include 'SPTGUI/footer.html' %}
    <script src="{% static 'SPTGUI/homepage.js' %}"></script>
  </body>
</html>
